<!doctype html>
<html ng-app="cs142App" ng-controller="MainController">
    <head>

        <title>Fakebook</title>

        <link rel="shortcut icon" href="/images/facebook_icon.png" />

        <link href="./node_modules/angular-material/angular-material.css" rel="stylesheet" />
    
        <script src="./node_modules/angular/angular.js" type="text/javascript" ></script>
        <script src="./node_modules/angular-animate/angular-animate.js" type="text/javascript" ></script>
        <script src="./node_modules/angular-aria/angular-aria.js" type="text/javascript" ></script>
        <script src="./node_modules/angular-material/angular-material.js" type="text/javascript" ></script>

        <script src="node_modules/angular-route/angular-route.js"></script>
		<script src="./node_modules/angular-resource/angular-resource.js"  type="text/javascript" ></script>
		
        <script src="mainController.js"></script>
        <link rel="stylesheet" type="text/css" href="main.css" />

		<script src="components/login-register/login-registerController.js"></script>
        <link rel="stylesheet" type="text/css" href="components/login-register/login-register.css" />
		
        <script src="components/user-list/user-listController.js"></script>
        <link rel="stylesheet" type="text/css" href="components/user-list/user-list.css" />

        <script src="components/user-detail/user-detailController.js"></script>
        <link rel="stylesheet" type="text/css" href="components/user-detail/user-detail.css" />

        <script src="components/user-photos/user-photosController.js"></script>
        <link rel="stylesheet" type="text/css" href="components/user-photos/user-photos.css" />
    
		<script src="components/activity-feed/activity-feedController.js"></script>
		<link rel="stylesheet" type="text/css" href="components/activity-feed/activity-feed.css" />
	</head>

    <body layout="column">

        <md-toolbar layout = "row" class='cs142-toolbar'>
            <div class="main-toolbar-profile-pic-darken" style="opacity:{{main.currentUser.bias_level/10}}" ng-click="showProfile()"></div>
            <img ng-if = "main.userLoggedIn" class = "cs142-user-bar-profile-pic" ng-click="showProfile()" ng-src = "/images/{{main.currentUser.profile_pic_file}}"></img>
        	<button ng-if = "main.userLoggedIn" class = "cs142-activity-bar-button" ng-click="showProfile()">{{main.currentUser.first_name}}</button>
        	<button ng-if = "main.userLoggedIn"  class = "cs142-activity-bar-button" ng-click="showFeed()">Home</button>
		</md-toolbar>

        <div class="container" flex layout="row">

            <md-content flex id="content">
                <div ng-view></div>
            </md-content>

        </div>

    </body>
</html>
