<!doctype html>
<html ng-app="cs142App" ng-controller="login-registerController">
    <head></head>
    <body>
		<div id="container2">
			<div id = "container1">
				<div id = "col1">
					<form name="loginForm" ng-submit="login()" class = "cs142-login-col">
						<p> Login</p>
						<p class = "red">{{errorMessage}}</p>
						<md-input-container>
							<label>Username</label>
							<input type="text" name="loginName" ng-model="loginName" required ng-minlength="3" ng-maxlength="20"/>
						</md-input-container>
						<br/>
						<md-input-container>
							<label>Password</label>
							<input type="password" name="password" ng-model="password" required ng-minlength="3" ng-maxlength="20" />
						</md-input-container>
						<br/>
						<button type="submit" ng-disabled="loginForm.$invalid">Login</button>
					</form>
				</div>
			</div>
		</div>	
    </body>
</html>
