.cs142-activity-feed-profile-pic {
	border: 1px solid rgba(0, 0, 0, 0.1);
	position: relative;
	top: 10px;
	left: 10px;
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.no-url-error {
	color: red;
    font-size: 14px;
    margin-right: -10px;
}

.reframe-url-input {
    padding-left: 10px;
    width: 98%;
    height: 33px;
    border-color: rgb(179, 179, 179);
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
}

.reframe-option-text {
	position: relative;
    left: 30px;
    width: 600px;
    top: -20px;
}

.invite-to-read-dialog {
	width: 50%;
}

.chat-dialog {
	width: 260px;
	height: 336px;
	position: absolute;
	right: 100px;
	bottom: 0px;
}

.chat-dialog-toolbar {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .20);
    height: 26px;
    min-height: 26px;
    background-color: #4267b2;
}

.chat-dialog-title {
    line-height: 18px;
    font-weight: 700;
    font-family: Arial;
    font-size: 14px;
    cursor: pointer;
}

.chat-dialog-close-icon {
    height: 12px;
    margin-right: -32px;
    margin-bottom: 2px;
}

.chat-dialog-content {
	overflow-y: scroll;
	padding: 10px;
	height: 250px;
	padding: 0px !important;
}

.chat-dialog-content-received {
	float: left;
	margin-top: 10px;
	background-color: #f1f0f0;
    padding: 5px 8px 4px !important;
    color: #4b4f56;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    word-wrap: break-word;
    text-shadow: none;
    text-align: left;
    border-collapse: collapse;
    border-radius: 10px;
    width: 166px;
    margin-left: 10px;
}

.chat-dialog-content-sent {
	margin-top: 10px;
    background-color: #4080ff;
    padding: 5px 8px 4px !important;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    word-wrap: break-word;
    text-shadow: none;
    text-align: left;
    border-collapse: collapse;
    border-radius: 10px;
    width: 166px;
    float: right;
    margin-right: 10px;
}

.chat-dialog-input {
	width: 235px;
    margin-left: -8px;
    font-size: 13px;
    border: none;
}
.chat-dialog-input:focus {
	outline: none !important;
}

button:focus {
	outline: none !important;
}

img:focus {
	outline: none !important;
}

.chat-dialog-input-container {
	position: absolute;
	bottom: 0px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.invite-to-read-dialog-toolbar {
	background-color: #3b5998 !important;
	height: 42px;
	min-height: 42px;
}

.feed-profile-pic-darken {
	position: absolute;
	top: 11px;
	left: 21px;
	height: 50px;
	width: 50px;
	cursor: pointer;
	z-index: 80;
	background-color: black;
}

.action-icon-and-word {
	height: 28px;
	display: inline-block;
	cursor: pointer;
}

.like-icon {
	height: 22px;
}

.comment-icon {
	height: 18px;
}

.invite-to-read-icon {
	height: 18px;

}

.share-icon {
	height: 17px;
}

.actions-section {
	margin-left: 6px;
}

.chat-message-tab {	
    position: fixed;
    bottom: 0px;
    color: #333;
    background-color: #f1f2f4;
    height: 30px;
    width: 160px;
    right: 100px;
    border-top-left-radius: 3px;
    border: 1px solid #dddfe2;
    border-top-right-radius: 3px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700;
    line-height: 15px;
    font-size: 13px;
    cursor: pointer;
}

.chat-message-tab-text {
	 padding: 10px;
    position: relative;
    padding-left: 25px;
}

.action {
	display: inline-block;
	margin: 0px;
	color: rgba(127,127,127, 0.9);
	font-size: 12px;
	font-weight: bold;
	margin-bottom: 10px;
	padding: 4px 4px 4px 0px;
	margin-right: 20px;
	cursor: pointer;
	position: relative;
	top: -6px;
}

.action:hover {
	color: rgba(127,127,127, 1);
	text-decoration: underline;
	transition-duration: 0.2s;
}

.cs142-activity-feed-article {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	width: 476px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	margin-left: 6px;
	cursor: pointer;
}

.horizontal-line {
	width: 476px;
	margin-left: 6px;
	border-color: rgba(0, 0, 0, 0.1);
	border-bottom-width: 0px;
}

.cs142-activity-feed-list {
	list-style-type: none;'
	list-style-position: inside;
	margin: 0;
	position: relative;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	background-color: #e9ebee;
	padding-left: 30%;
}

.cs142-activity-feed-date {
	color: #90949c;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
	margin: 0;
	padding-top: 0;
	position: relative;
	top: -32px;
	left: 66px;
	letter-spacing: -0.5px;

}

.cs142-activity-feed-element {
	font-size: 17px;
	margin-bottom: 10px;
	padding-left: 10px;
	position: relative;
	background-color: white;
	width: 500px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 3px;


}
.cs142-activity-feed-user-name {
	color: #365899;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	position: relative;
	display: inline-block;
	left: 10px;
	top: -20px;
	cursor: pointer;
}

.cs142-activity-feed-user-name:hover {
	text-decoration: underline;
}

.cs142-activity-article-photo {
	width: 476px;
	height: 249px;
}

.cs142-activity-feed-title {
	font-family: Circular;
	margin: 0px;
	font-size: 20px;
	padding-top: 5px;
	padding-left: 10px;
}

.cs142-activity-feed-subtitle {
	margin: 0px;
	padding-left: 10px;
	padding-top: 5px;
	font-size: 13px;
}

.cs142-activity-feed-source {
	margin: 0px;
	padding-left: 10px;
	padding-top: 5px;
	font-size: 13px;
	color: #90949c;
}

.cs142-activity-feed-center {
	text-align: center;
}


